@font-face {
    font-family: 'Tilda-Sans';
    src: url('../fonts/TildaSans-Light.ttf') format('ttf'), url('../fonts/TildaSans-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Tilda-Sans';
    src: url('../fonts/TildaSans-Regular.ttf') format('ttf'), url('../fonts/TildaSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Tilda-Sans';
    src: url('../fonts/TildaSans-Medium.ttf') format('ttf'), url('../fonts/TildaSans-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Tilda-Sans';
    src: url('../fonts/TildaSans-Bold.ttf') format('ttf'), url('../fonts/TildaSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Tilda-Sans';
    src: url('../fonts/TildaSans-Black.ttf') format('ttf'), url('../fonts/TildaSans-Black.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Tilda-Sans';
    src: url('../fonts/TildaSans-ExtraBold.ttf') format('ttf'), url('../fonts/TildaSans-ExtraBold.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}